extends layout

block content
	h1 Magellan's Travels
	p  Magellan departed Spain in 1519 on a grand expedition.
	
	//--pulling data from our objects array, injecting them as 
	//--variables in Jade, referencing name of array and chaining on 
	//--keys for our data strings.
	if error === "notfound" 
		h1 This location does not exist


	else 
		p #{expeditions.name}
		p #{expeditions.date}

		
		if expeditions.nextlocation !== "THEEND" 
			a(href="/next/#{expeditions.nextlocation}") Next Location

		else 
			h1 End of Voyage

		
